:root{
    --color-red : rgb(73, 108, 224);
    --mainColor : #333;
}

.box{
    width: calc(50% + 50px);
    height: 100px;
    background-color: var(--color-red);
    color: var(--mainColor);
    text-align: center;
    line-height: 100px;

    /* padding: 10px 20px 30px 40px; */

    /* kiểu viền */
    border-style: dashed;
    /* Màu viền */
    border-color: #333;
    /* Độ rộng viền */
    border-width: 10px;
}

.box-1{
    width: 100px;
    height: 100px;
    background-color: red;
    color: #fff;
    text-align: center;
    line-height: 100px;
    padding: 10px;
    border: 1px solid #333;

    box-sizing: border-box;

    /* border: 1px solid #333; */
    /* border-radius: 50%; */

    /* margin: 10px 20px 30px 40px; */
}